
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header {
    background-image: url(../img/backgroun-header.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 0px 20px #0f0f0f;;
    text-align: center;
    padding: 10px 0;
    
}

.header img {
    width: 200px;
}

.container {
    display:flex;
}

.navbar {
    width: 30%;
    padding: 30px;
}

.navbar ul li{
    background-color: rgb(0 126 255);
    display: block;
    padding: 10px;
    margin-top: 10px;
    border-radius: 40px;
    text-align: center;
}

.navbar ul li a {
    color:#FFFFFF;
    text-decoration: none;
}

.content{
    width: 70%;
    border-radius: 20px 20px 0px 0px;
    background: #d8d8d8;
    padding: 30px;
    margin: 30px 30px 0px 0px;

}

.footer {
    background-color: rgb(199, 199, 199);
    text-align: center;
    padding: 20px 0px;
}

.social{
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px 0;
}

.social img{
    width: 30px;
}
