
:root {
    --color-primary: rgb(122, 19, 19);
    --color-secondary: rgb(204, 79, 79);

    --spacing: 16px;
}

h1 {
    color: 
    var(--color-primary);
}

h2 {
    color: var(--color-secondary);
    margin: var(--spacing);
}

p {
    color: var( --color-primary);
}

button {
    background: var( --color-primary);
    color: white;
}