
.container {
    display: flex;
    /*flex-direction: column;
    flex-direction: column-reverse;
    flex-direction: row-reverse;
     flex-direction: row;*/
    /*flex-wrap: wrap;*/
    flex-direction: row;
    flex-wrap: wrap-reverse;
    flex-flow: row wrap-reverse;
    background-color: silver;
}

.caixa {
    width: 160px;
    height: 90px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}