
h1 {
    text-shadow: 2px 2px 20px red;
}

p {
    color: green;
    /*text-align: center;*/
    /*text-align: right;*/
    text-align: justify;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    /*font-variant: small-caps;*/
    text-transform: uppercase;
    text-indent: 60px;
    word-spacing: 20px;
    line-height: 50px;
}

a {
    text-decoration: line-through;
    letter-spacing: 20px;
}