
.container {
    display: flex;
    flex-direction: row;
    background-color: silver;
    /*justify-content: flex-start;
    justify-content: flex-end;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    */
    justify-content: space-between;
}

.caixa {
    width: 160px;
    height: 90px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}