* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 50px;
}

body {
    font-size: 15px;
}

.box {
    width: 100vw;   /*width: 2em;*/
    height: 92vh;
    background-color: black;
}

.box2 {
    width: 100vw;   /*width: 2em;*/
    height: 100vh;
    background-color: rgb(255, 0, 0);
}

p {
    font-size: 2rem;
}