@mixin reset-list($margin: 0, $padding: 0, $style: none) {
    margin: $margin;
    padding: $padding;
    list-style: $style;
}

@mixin bg-effect($effect) {
    @if $effect == success {
        background-color: green;
    }
    @else if $effect == warning {
        color:black;
        background-color: yellow;
    }
    @else if $effect == danger {
        background-color: red;
    }
    @else {
        background-color: white;
    }
}