
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.header{
    background-color: grey;
    text-align: center;
    padding: 50px 0;
    font-size: 30px;
}

.container {
    display:flex;
}

.navbar {
    width: 30%;
    background: #a3a3a3;
    padding: 30px;
}

.content{
    width: 70%;
    background: #d8d8d8;
    padding: 30px;
}

.footer {
    background-color: grey;
    text-align: center;
    padding: 20px 0px;
}